@import "../config/colors.css";

.backButton {
  position: absolute;
  margin-top: 30px;
  margin-left: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  fill: var(--backButton);
}

@media screen and (max-width: 615px) {
  @media screen and (max-height: 700px) {
    .backButton {
      visibility: hidden;
    }
  }
}
