@import "../config/colors.css";

.checkoutList {
  width: 400px;
  min-height: 500px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listContainer {
  width: 100%;
  flex: 1;
  border-bottom: 0.3px solid #b5b1f4a9;
}

.itemLine {
  width: 100%;
  height: 50px;
  border-bottom: 0.3px solid #d8d6efd1;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.itemLine:nth-child(odd) {
  background: #f3eff39d;
  height: 50px;
}

.itemLine:first-child {
  background: var(--checkoutList-titleRow-bg);
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
  height: 55px;
  cursor: default;
}

.itemLine:first-child > span {
  justify-content: center;
}

.itemLine > span {
  height: 100%;
  display: flex;
  align-items: center;

  border-right: 0.3px solid #d8d6efd1;
}

.description {
  width: 220px;
  justify-content: left;
  padding-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.description:hover {
  color: rgb(212, 89, 144);
}

.descriptionTitle:hover {
  cursor: default;
  color: var(--black);
}

.amount {
  width: 70px;
  display: grid;
  place-content: center;
  min-width: 70px;
}

.amountAdjust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  border-radius: 2px;
  overflow: hidden;
}

.amountAdjust > span {
  width: 20px;
  text-align: center;
}

.adjustIncrDecr {
  background: #efdcef76;
  border: 1px solid gray;
  cursor: default;
  user-select: none;
}

.adjustIncrDecr:hover {
  background: #bba7bb76;
}

.amountNr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  user-select: none;
}

.price {
  width: 60px;
  justify-content: right;
  padding-right: 8px;
}

.priceTitle {
  width: 60px;
}

.bin {
  justify-content: center;
  flex: 1;
  cursor: pointer;
  min-width: 25px;
}

.bin:hover {
  fill: rgb(212, 89, 144);
}

.binTitle:hover {
  cursor: default;
  color: var(--black);
}

.totalContainer {
  width: 100%;
  height: 60px;
  background: var(--checkoutList-total-bg);
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
}

.totalContainer > h3 {
  font-weight: 500;
}

.totalContainer > h3 > span {
  font-weight: 600;
}

@media screen and (max-width: 410px) {
  .checkoutList {
    width: 96vw;
  }
}

