@import "../config/colors.css";

.checkoutList {
  width: 400px;
  min-height: 500px;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.listContainer {
  width: 100%;
  flex: 1;
  border-bottom: 0.3px solid #b5b1f4a9;
  /* background: purple; */
}



.itemLine {
  width: 100%;
  height: 50px;
  border-bottom: 0.3px solid #d8d6efd1;
  font-size: 12px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-left: 10px;
  padding-right: 10px; */
  text-transform: capitalize;
}


.itemLine:nth-child(odd) {  
  background: #f3eff39d;
  height: 50px;
}

/* Title row */
.itemLine:first-child {  
  background: var(--checkoutList-titleRow-bg);
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
  height: 55px;
  cursor: default;
}

.itemLine:first-child > span {  
  justify-content: center;

  /* background: yellow; */
}


.itemLine > span {
  height: 100%;
  display: flex;
  align-items: center;
  
  /* border: 2px dotted purple; */
  border-right: 0.3px solid #d8d6efd1;
}


.description {
  width: 220px;
  justify-content: left;
  padding-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;

  /* background: yellow; */
}

.description:hover  {
  color: rgb(212, 89, 144);
}

.descriptionTitle:hover {
  cursor: default;
  color: var(--black);
}

.amount {
  width: 70px;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* background: green; */
  display: grid;
  place-content: center;
}

.amountAdjust {
  /* font-size: 24px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  border-radius: 2px;
  overflow: hidden;

  /* border: 1px solid gray; */
}

.amountAdjust > span {
  width: 20px;
  text-align: center;
  /* background: pink; */
}

.adjustIncrDecr {
  background: #efdcef76;
  border: 1px solid gray;
  cursor: default;
}

.adjustIncrDecr:hover {
  background: #bba7bb76;
}

.amountNr {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  /* background: green; */
}

.price {
  width: 60px;
  justify-content: right;
  padding-right: 8px;
}

.priceTitle {
  width: 60px;
}

.bin {
  justify-content: center;
  flex: 1;
  cursor: pointer;
  /* width: 8%; */

  /* background: yellow; */
}

.bin:hover  {
  fill: rgb(212, 89, 144);
}

.binTitle:hover {
  cursor: default;
  color: var(--black);
}

.totalContainer {
  width: 100%;
  height: 60px;
  background: var(--checkoutList-total-bg);
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 20px;
  /* padding-left: 250px; */
}

.totalContainer > h3 {
  font-weight: 500;
}

.totalContainer > h3 >span {
  font-weight: 600;

}