@import "../config/colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--body-bg);
  font-family: 'Avenir';
}

.notFound {
  width: 100vw;
  height: 100%;
  display: grid;
  place-content: center;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100vw;
  flex: 1;
}

.products {
  width: 100%;
  min-height: 100vh;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-content: flex-start;
  grid-gap: 40px;

}

.item {
  width: 100vw;
  height: 100%;
  display: grid;
  place-content: center;
}

.item > h3 {
  position: absolute;
  margin-top: 30px;
  margin-left: 40px;
  color: var(--productDetails-back);
  cursor: pointer;
}