* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  /* background: rgb(243, 195, 203); */
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.content {
  width: 100vw;
  flex: 1;
  /* background: rgb(227, 227, 140); */
}