.navbar {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;


  background: rgb(76, 160, 245);
  border: 2px solid black;
}

.navbar > h1 {
  color: white;
  font-weight: 400;
}

.navbar > p {
  color: white;
}