@import "../config/colors.css";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.navbar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--primary);
  background: linear-gradient(0deg, rgb(35, 184, 77) 0%, rgb(72, 226, 115) 100%);

  /* border: 2px solid black; */
}

.navbar > h1 {
  color: var(--white);
  font-weight: 700;
  font-family: 'Play', sans-serif;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 28px;
}

.navbar > p {
  color: var(--white);
  cursor: pointer;
}

.cart {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
}

.cart > svg {
  color: var(--white);
  width: 65%;
  position: relative;
  margin-top: 3px;
}

.cart > span {
  width: 18px;
  height: 18px;
  background: var(--shoppingcart-circle-bg);
  border: 3px solid var(--shoppingcart-circle-border);
  box-sizing: content-box;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  position: absolute;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  color: var(--shoppingcart-number);
}

.hidden {
  visibility: hidden;
}