@import "../config/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

.navbar {
  width: 100vw;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 10;
  background: var(--primary);
}

.logo {
  color: var(--white);
  font-weight: 700;
  font-family: "Play", sans-serif;
  margin-left: 10px;
  cursor: pointer;
  font-size: 30px;
  text-shadow: 0.1px 0.1px 1px #000000;
  user-select: none;
}

.navbar > p {
  color: var(--white);
  cursor: pointer;
}

.cart {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart > svg {
  color: var(--white);
  width: 65%;
  margin-top: 3px;
  -webkit-filter: drop-shadow(0.2px 0.2px 1px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0.2px 0.2px 1px rgba(0, 0, 0, 0.7));
}

.circleContainer {
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: 3px;
}

.circleContainer > span {
  width: 18px;
  height: 18px;
  background: var(--shoppingcart-circle-bg);
  border: 3px solid var(--shoppingcart-circle-border);
  box-sizing: content-box;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  justify-self: flex-end;
  font-weight: bold;
  color: var(--shoppingcart-number);
  font-size: 12px;
  user-select: none;
}

.hidden {
  visibility: hidden;
}
