@import "../config/colors.css";

.productDetails {
  width: 600px;
  height: 500px;
  background: var(--white);
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  overflow: hidden;


}

.productDetails > h2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-family: Avenir;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--productDetails-title)
}

.productDetails > h3 {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  font-family: Avenir;
  color: var(--productDetails-price)
}

.imageContainer {
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center;
  
}

.imageContainer > img {
  width: 90%;
  
  /* border: 3px dotted red; */
}

.details {
  background: var(--productDetails-details-bg);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.options {
  /* width: 80%; */
  width: 100%;
  /* height: 100px; */
  align-self: center;
  
  background: turquoise;
}

.colorOptions {

  background: yellow;

  /* width: 50%; */
  border: 2px solid black;
  text-transform: capitalize;
}

.details > button {
  width: 80%;
  height: 50px;
  align-self: center;
  background: var(--productDetails-addToCart);
  box-shadow: none;
  border: none;
  font-family: 'Avenir';
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
  -webkit-text-stroke: 0.3px black;
  cursor: pointer;
}

.details > button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;

}