@import "../config/colors.css";

.productCard {
  width: 280px;
  height: 210px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--white);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productCard:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
}

.productCard > img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  /* border: 2px dotted black; */

  padding: 10px;
}

.productCard > div {
  flex: 1;
  background: var(--productCard-bg);
  padding: 10px;
  padding-left: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productCard > div > h2 {
  color: var(--productCard-title);
  text-transform: capitalize;
  font-size: 16px;
  max-width: 150px;
}

.productCard > div > h3 {
  color: var(--productCard-price);
  font-size: 24px;
  margin-right: 15px;
}
