.products {
  width: 100%;
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* justify-items: center; */
  justify-items: center;
  /* align-items: center; */
  grid-gap: 40px;
  padding: 40px;

  /* background: rgb(233, 105, 233); */
}