@import "../config/colors.css";

.productDetails {
  width: 650px;
  height: 500px;
  background: var(--white);
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  overflow: hidden;
}

.productDetails > h2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--productDetails-title);
}

.productDetails > h3 {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  color: var(--productDetails-price);
}

.imageContainer {
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center;
}

.imageContainer > img {
  width: 90%;
}

.details {
  background: var(--productDetails-details-bg);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 17px;
  font-weight: 500;

  /* background: green; */
}

.detailsText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin-left: 5px;

  /* background: pink; */
}

.detailsName {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.options {
  width: 100%;
  align-self: center;
  margin-left: 5px;

  /* background: turquoise; */
}

.radioButtons {
  text-transform: capitalize;
  /* justify-content: space-between; */

  /* border: 1px solid black;
  background: yellow; */
  /* margin-top: 10px; */
}

.colorButtons {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;

  /* background: yellow; */
}

.optionButtons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 3px;
  font-size: 16px;
  margin-left: 10px;

  /* background: violet; */
}


.details > button {
  width: 90%;
  height: 50px;
  align-self: center;
  background: var(--productDetails-addToCart);
  box-shadow: none;
  border: none;
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
  margin-top: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
  /* -webkit-text-stroke: 0.3px black; */
  text-shadow: 0.1px 0.1px 2px #000000;
  cursor: pointer;
}

.details > button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}

