@import "../config/colors.css";

.productDetails {
  width: 670px;
  height: 500px;
  background: var(--white);
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  overflow: hidden;
}

.productDetails > h2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 22px;
  text-transform: capitalize;
  color: var(--productDetails-title);
}

.productDetails > h3 {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  color: var(--productDetails-price);
}

.imageContainer {
  width: 60%;
  height: 100%;
  display: grid;
  place-items: center;
}

.imageContainer > img {
  width: 90%;
}

.details {
  background: var(--productDetails-details-bg);
  border-left: 0.3px solid #b5b1f4a9;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 17px;
  font-weight: 500;
}

.detailsText {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin-left: 10px;
  font-size: 15px;
}

.detailsName {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.options {
  width: 100%;
  align-self: center;
  display: flex;
  gap: 5px;
  padding-left: 25px;
}

.radioButtons {
  text-transform: capitalize;
  width: 90px;
}

.colorButtons {
  font-size: 16px;
}

.optionButtons {
  font-size: 16px;
}

.availableButton {
  width: 80%;
  height: 50px;
  align-self: center;
  background: var(--productDetails-addToCart);
  color: var(--white);
  box-shadow: none;
  border: none;
  font-size: 22px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: 20px;
  border: 0.1px solid rgba(190, 190, 190, 0.738);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
  text-shadow: 0.1px 0.1px 2px #000000;
  cursor: pointer;
}

.available:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}

.unavailableButton {
  width: 80%;
  height: 50px;
  align-self: center;
  background: rgb(192, 190, 190);
  color: rgba(0, 0, 0, 0.581);
  box-shadow: none;
  border: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 20px;
  border: 0.2px solid rgba(142, 142, 142, 0.738);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px;
}

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 615px) {
  .productDetails {
    width: 96vw;
  }

  .productDetails > h2 {
    display: none;
  }
  
  .productDetails > h3 {
    display: none;
  }
  
  .imageContainer {
    display: none;
  }

  .details {
    align-content: center;
    justify-content: center;
  }

  .detailsText {
    width: 80%;
    align-self: center;
    justify-items: center;
    text-align: center;
  }
  
  .options {
    width: 80%;
    justify-content: center;
  }
}

