:root {
  --body-bg: #c2e6f4;
  --black: #000;
  --white: #fff;

  --navbar-bg: #34cf60;
  --backButton: #167128;

  --productCard-bg: #d5c7f8c5;
  --productCard-title: #277ae7;
  --productCard-title: #1263cd;
  --productCard-price: #27bd52;

  --productDetails-title: #1a62c2;
  --productDetails-back: #114fa0;
  --productDetails-price: #0d9958;
  --productDetails-details-bg: #cebdf6c5;
  --productDetails-addToCart-btn: #34cf60;
  --productDetails-unvailable-btn: #c0bebe;

  --shoppingcart-circle-bg: #e2d5ff;
  --shoppingcart-circle-border: #0e8025;
  --shoppingcart-number: #1f62e1;

  --checkoutList-titleRow-bg: #cebdf6c5;
  --checkoutList-total-bg: #cebdf6c5;
  --checkoutList-oddRows: #f3eff39d;
  --checkoutList-hoverText: #d45990;
}
