:root {
  --primary: #34cf60;
  --body-bg: rgb(217, 239, 248);
  --black: #000;
  --white: #fff;

  --backButton: #1b7c2e;

  --productCard-bg: #e1d4ffc5;
  --productCard-title: #277ae7;
  --productCard-title: #1263cd;
  --productCard-price: #27bd52;

  --productDetails-title: #1a62c2;
  --productDetails-back: #114fa0;
  --productDetails-price: #0d9958;
  --productDetails-details-bg: #e1d4ffc5;
  --productDetails-addToCart: #34cf60;

  --shoppingcart-circle-bg: #e2d5ff;
  --shoppingcart-circle-border: #0e8025;
  --shoppingcart-number: #1f62e1;
  --checkoutList-total-bg: #e1d4ffc5;
}
